[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipykernel = "*"
flake8 = "*"
black = "*"

[packages]
scikit-learn = "*"
pandas = "*"
optuna = "*"
sklearn-pandas = "*"
imbalanced-learn = "*"
deslib = "*"
category-encoders = "*"
catboost = "*"
lightgbm = "==3.0.0"
xgboost = "*"
configspace = "*"
hpbandster = "*"
shap = "*"
boruta = {git = "https://github.com/scikit-learn-contrib/boruta_py.git"}
flaml = "*"
hebo = "*"
ray = {extras = ["tune"],version = "*"}
fastai = "*"
xxhash = "*"

[requires]
python_version = "3.8"
