[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
flake8 = "*"

[packages]
ipython = "*"
scikit-learn = "*"
pandas = "*"
optuna = "*"
ray = {file = "https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp38-cp38-manylinux2014_x86_64.whl"}
sklearn-pandas = "*"
imbalanced-learn = "*"
deslib = "*"
category-encoders = "*"
catboost = "*"
lightgbm = "==3.0.0"
xgboost = "*"
configspace = "*"
hpbandster = "*"
shap = "*"
boruta = {git = "https://github.com/scikit-learn-contrib/boruta_py.git"}
flaml = "*"
hebo = "*"
fastai = "*"
xxhash = "*"
lz4 = "*"
ipywidgets = "*"
plotly = "*"

[requires]
python_version = "3.8"
