-i https://pypi.org/simple
aiohttp-cors==0.7.0
aiohttp==3.7.4.post0
aioredis==1.3.1
alembic==1.5.8
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
autograd==1.3
backcall==0.2.0
bleach==3.3.0
blessings==1.7
blis==0.7.4
cachetools==4.2.1
catalogue==1.0.0
catboost==0.25
category-encoders==2.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cliff==3.7.0
cloudpickle==1.6.0
cma==2.7
cmaes==0.8.2
cmd2==1.5.0
colorama==0.4.4
colorful==0.5.4
colorlog==4.8.0
configspace==0.4.18
cycler==0.10.0
cymem==2.0.5
cython==0.29.22
decorator==4.4.2
defusedxml==0.7.1
deslib==0.3.5
entrypoints==0.3
fastai==2.2.7
fastcore==1.3.19
fastprogress==1.0.0
filelock==3.0.12
flaml==0.2.9
future==0.18.2
git+https://github.com/scikit-learn-contrib/boruta_py.git@f2f1e3c2432bb9a96bff4bace3bdb4fdc7e7ce7f#egg=boruta
google-api-core==1.26.2
google-auth==1.28.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
gpy==1.9.9
gpytorch==1.4.0
graphviz==0.16
greenlet==1.0.0 ; python_version >= '3'
grpcio==1.36.1
hebo==0.1.0
hiredis==2.0.0
hpbandster==0.7.4
https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-2.0.0.dev0-cp38-cp38-manylinux2014_x86_64.whl#egg=ray
idna==2.10
imbalanced-learn==0.8.0
ipykernel==5.5.0
ipython-genutils==0.2.0
ipython==7.22.0
ipywidgets==7.6.3
jedi==0.18.0
jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0 ; python_version >= '3.6'
kiwisolver==1.3.1
lightgbm==3.0.0
llvmlite==0.36.0
lz4==3.1.3
mako==1.1.4
markupsafe==1.1.1
matplotlib==3.4.0
mistune==0.8.4
msgpack==1.0.2
multidict==5.1.0
murmurhash==1.0.5
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
netifaces==0.10.9
notebook==6.3.0
numba==0.53.1
numpy==1.19.5
nvidia-ml-py3==7.352.0
opencensus-context==0.1.2
opencensus==0.7.12
optuna==2.6.0
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
paramz==0.9.5
parso==0.8.1
patsy==0.5.1
pbr==5.5.1
pexpect==4.8.0 ; sys_platform != 'win32'
pickleshare==0.7.5
pillow==8.1.2
plac==1.1.3
plotly==4.14.3
preshed==3.0.5
prettytable==2.1.0
prometheus-client==0.9.0
prompt-toolkit==3.0.18
protobuf==3.15.6
psutil==5.8.0
ptyprocess==0.7.0 ; os_name != 'nt'
py-spy==0.3.5
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pygments==2.8.1
pymoo==0.4.2.2
pyparsing==2.4.7
pyperclip==1.8.2
pyro4==4.80
pyrsistent==0.17.3
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
pyyaml==5.4.1
pyzmq==22.0.3
redis==3.5.3
requests==2.25.1
retrying==1.3.3
rsa==4.7.2 ; python_version >= '3.6'
scikit-learn==0.24.1
scipy==1.6.2
send2trash==1.5.0
serpent==1.30.2 ; python_version >= '3.2'
shap==0.39.0
six==1.15.0
sklearn-pandas==2.1.0
slicer==0.0.7
spacy==2.3.5
sqlalchemy==1.4.3
srsly==1.0.5
statsmodels==0.12.2
stevedore==3.3.0
terminado==0.9.3
testpath==0.4.4
thinc==7.4.5
threadpoolctl==2.1.0
torch==1.7.1
torchvision==0.8.2
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.4
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
xgboost==1.3.3
xxhash==2.0.0
yarl==1.6.3
